In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
ccd = pd.read_csv('AER_credit_card_data.csv')

In [3]:
ccd.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5

In [3]:
ccd['card'] = ccd['card'].map({'yes':1, 'no':0})

In [4]:
ccd['owner'] = ccd['owner'].map({'yes':1, 'no':0})
ccd['selfemp'] = ccd['selfemp'].map({'yes':1, 'no':0})

In [5]:
ccd.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,0,37.66667,4.5200,0.033270,124.983300,1,0,3,54,1,12
1,1,0,33.25000,2.4200,0.005217,9.854167,0,0,3,34,1,13
2,1,0,33.66667,4.5000,0.004156,15.000000,1,0,4,58,1,5
3,1,0,30.50000,2.5400,0.065214,137.869200,0,0,0,25,1,7
4,1,0,32.16667,9.7867,0.067051,546.503300,1,0,2,64,1,5

In [6]:
y = ccd['card']
X = ccd.drop('card', axis=1)

In [8]:
X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [9]:
X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, test_size=0.25, random_state=1)

In [11]:
from sklearn.metrics import auc
from sklearn.linear_model import LogisticRegression

In [12]:
auc(X, y)

ValueError: y should be a 1d array, got an array of shape (1319, 11) instead.